@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    margin-top: 4.7rem;
    width: 100%;
}

.campo{
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    label{
        flex: 0 0 22rem;
        font-size: 2.1rem;
    }
    input{
        flex: 0.3;
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 2.1rem;
    }
}